@import '../../theme/variables.scss';

.wrapper {
  width: 195px;
  padding: 2px 8px;
  border: solid 0.5px lightgrey;
  border-radius: 12px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.wordWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.title {
  font-size: 14px;
  font-weight: 450;
}

.sectionTitle {
  font-size: 17px;
  font-weight: 700;
}

.dividerMain {
  height: 3px;
  background-color: $main;
  margin: 8px 0;
}

.divider {
  margin: 5px 0;
  background-color: $main;
  margin-bottom: 8px;
}

.word {
  font-size: 12px;
  font-weight: 700;
}

.translationWord {
  font-size: 12px;
  font-weight: 300;
}

.dash {
  padding: 0 8px;
}
