//override tabs base style
.difficultyLevel {
  .ant-tabs-nav {
    justify-content: flex-end;
    &::before {
      left: unset !important;
      width: 25%;
    }
  }
  .ant-tabs-nav-wrap {
    flex: none !important;
  }
  .ant-tabs-tab {
    padding: 3px 0 !important;
  }
}
