.noteIcon {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe595;
}

.noteItem {
  margin-top: 12px;
  .date {
    font-size: 10px;
    color: #656565;
  }

  .body {
    font-size: 12px;
  }
}
